/* (edit style.css for your own book styles) */

.meme img {
  width: 100%;
}
.meme {
  display: inline-block;
  max-width: 40% !important;
  margin: 0.5em;
}

.right {
  float: right;
  margin-right: 0;
}

.left {
  float: left;
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  .meme {
    display: block;
    max-width: 100% !important;
    margin: 0.5em 0;
  }
  
  .right, .left {
    float: none;
    margin: 0.5em 0;
  }
}

pre.mcq {
  padding: 0 !important;
  margin: 0 !important;
  background-color: none;
  display: inline;
  border: none !important;
  border-radius: none;
}

a.video { 
  text-indent: -9999px;
  content: url("../images/icons/video.svg");
  margin: 0 3px 0 5px;
  width: 20px;
  height: 20px;
}

/* references with hanging indent */
.csl-entry {
  padding-left: 2em ;
  text-indent: -2em ;
}

.package { font-weight: 600; }
.package::before { content: "{"; }
.package::after { content: "}"; }

/* rainbow borders */
body {
  margin-top: 18px;
  box-shadow: 0 -3px 0 0px var(--purple),
              0 -6px 0 0px var(--blue),
              0 -9px 0 0px var(--green),
              0 -12px 0 0px var(--yellow),
              0 -15px 0 0px var(--orange),
              0 -18px 0 0px var(--pink);
}


 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: 1px solid #0079B3;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
  transition: 0.2s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #0079B344;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #0079B366;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0.5em 1em;
  border: 1px solid #0079B3;
  border-top: none;
} 

